In [213]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [66]:
spend_country = pd.read_csv("./data/spend/spend_country.csv", thousands=',')
spend_age = pd.read_csv("./data/spend/spend_age.csv", thousands=',')
spend_gender = pd.read_csv("./data/spend/spend_gender.csv", thousands=',')

satisfaction_country_2015 = pd.read_csv("./data/country/2015_country.csv", thousands=',')
satisfaction_country_2016 = pd.read_csv("./data/country/2016_country.csv", thousands=',')
satisfaction_country_2017 = pd.read_csv("./data/country/2017_country.csv", thousands=',')
satisfaction_country_2018 = pd.read_csv("./data/country/2018_country.csv", thousands=',')
satisfaction_country_2019 = pd.read_csv("./data/country/2019_country.csv", thousands=',')

satisfaction_age_2015 = pd.read_csv("./data/age/2015_age.csv")
satisfaction_age_2016 = pd.read_csv("./data/age/2016_age.csv")
satisfaction_age_2017 = pd.read_csv("./data/age/2017_age.csv")
satisfaction_age_2018 = pd.read_csv("./data/age/2018_age.csv")
satisfaction_age_2019 = pd.read_csv("./data/age/2019_age.csv")

satisfaction_gender_2015 = pd.read_csv("./data/gender/2015_gender.csv")
satisfaction_gender_2016 = pd.read_csv("./data/gender/2016_gender.csv")
satisfaction_gender_2017 = pd.read_csv("./data/gender/2017_gender.csv")
satisfaction_gender_2018 = pd.read_csv("./data/gender/2018_gender.csv")
satisfaction_gender_2019 = pd.read_csv("./data/gender/2019_gender.csv")

In [322]:
# ----- 만족도 데이터
satisfactionList = satisfaction_country_2015.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_country_2016.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_country_2017.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_country_2018.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_country_2019.iloc[:14, 2:].values.tolist()
satisfactionList += satisfaction_country_2019.iloc[14:, 2:].values.tolist()

satisfactionList += satisfaction_age_2015.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_age_2016.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_age_2017.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_age_2018.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_age_2019.iloc[:, 2:].values.tolist()

satisfactionList += satisfaction_gender_2015.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_gender_2016.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_gender_2017.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_gender_2018.iloc[:, 2:].values.tolist()
satisfactionList += satisfaction_gender_2019.iloc[:, 2:].values.tolist()

# ----- 소비량 데이터 
spendList = spend_country.iloc[:18, 2:3].values.tolist()
spendList += spend_country.iloc[:18, 3:4].values.tolist()
spendList += spend_country.iloc[:21, 4:5].values.tolist()
spendList += spend_country.iloc[:22, 5:6].values.tolist()
spendList += spend_country.iloc[:14, 6:7].values.tolist()
spendList += spend_country.iloc[15:, 6:7].values.tolist()

spendList += spend_age.iloc[:, 1:2].values.tolist()
spendList += spend_age.iloc[:, 2:3].values.tolist()
spendList += spend_age.iloc[:, 3:4].values.tolist()
spendList += spend_age.iloc[:, 4:5].values.tolist()
spendList += spend_age.iloc[:, 5:6].values.tolist()

spendList += spend_gender.iloc[:, 1:2].values.tolist()
spendList += spend_gender.iloc[:, 2:3].values.tolist()
spendList += spend_gender.iloc[:, 3:4].values.tolist()
spendList += spend_gender.iloc[:, 4:5].values.tolist()
spendList += spend_gender.iloc[:, 5:6].values.tolist()

returnList = satisfaction_country_2015.iloc[:, 1:2].values.tolist()
returnList += satisfaction_country_2016.iloc[:, 1:2].values.tolist()
returnList += satisfaction_country_2017.iloc[:, 1:2].values.tolist()
returnList += satisfaction_country_2018.iloc[:, 1:2].values.tolist()
returnList += satisfaction_country_2019.iloc[:, 1:2].values.tolist()


train_data, test_data , train_label, test_label = train_test_split(satisfactionList,
                                                                                       spendList,
                                                                                       train_size=0.8,
                                                                                       test_size=0.2)

# model = LinearRegression()
# model = model.fit(train_data, train_label)
# pre = model.predict(test_data)

In [320]:
satisfaction_country_2015.iloc[:, 1:2]

     재방문의사
0   90.935
1   91.065
2   91.730
3   96.280
4   90.435
5   90.510
6   94.160
7   92.210
8   90.435
9   87.700
10  91.835
11  90.990
12  89.825
13  89.515
14  95.550
15  95.035
16  91.355
17  93.515

In [172]:
spend_gender

   성별    2015    2016    2017     2018     2019
0  남성  1589.5  1439.1  1406.9  1300.71  1198.87
1  여성  1811.8  1756.4  1542.8  1374.07  1267.26
2  전체  1712.5  1625.3  1481.6  1342.39  1239.16